RewriteEngine On

# If requested file/folder exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, send everything to index.php
RewriteRule ^ index.php [L,QSA]